:root {
    --unfocused-left: 1fr;
    --unfocused-right: 1fr;
    --hovered: 3fr;
    --unhovered: 2fr;

    --main-menu-main-items: 3;
}

body {
    padding: 0;
    margin: 0;
    display: grid;
    height: 100%;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #222;
}

/* On landscape screens, have two panes horizontally */
/* On portrait screens, have two panes vertically */
@media (orientation: landscape) {
    body {
        grid-template-columns: var(--unfocused-left) var(--unfocused-right);
        transition: grid-template-columns 0.5s;
    }

    body.hover-left {
        grid-template-columns: var(--hovered) var(--unhovered);
    }

    body.hover-right {
        grid-template-columns: var(--unhovered) var(--hovered);
    }

    .side {
        flex-direction: row;
    }
}

@media (orientation: portrait) {
    body {
        grid-template-rows: var(--unfocused-left) var(--unfocused-right);
        transition: grid-template-rows 0.5s;
    }

    body.hover-left {
        grid-template-rows: var(--hovered) var(--unhovered);
    }

    body.hover-right {
        grid-template-rows: var(--unhovered) var(--hovered);
    }

    .side {
        flex-direction: column;
    }
}

.side {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1;
    background-color: #000;
    transition: box-shadow 0.5s, background-color 0.2s;
}

.side .scorecard {
    background-color: #0008;
    color: white;
    width: max(20vmax, 4ch);
    height: auto;
    padding: 10px;
    display: grid;
    grid-template-areas: "col col" "pur cla" "sco sco";
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    font-size: 2em;
    z-index: 3;
}
.scorecard > * {
    display: flex;
    align-items: center;
    justify-content: center;
}
.scorecard .score {
    grid-area: sco;
}
.scorecard .purity {
    grid-area: pur;
    font-size: 0.5em;
}
.scorecard .clarity {
    grid-area: cla;
    font-size: 0.5em;
}
.scorecard .rgb {
    grid-area: col;
}

.side:hover {
    box-shadow: 0 0 20px #000;
    z-index: 2;
}

.pause-button-contain {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 3;
    cursor: pointer;
    pointer-events: none;
}

.pause-button-contain .pause-button {
    pointer-events: auto;
    border: none;
    background-color: #111;
    width: 10vw;
    height: 10vw;
    border-radius: 0 0 1000em 1000em;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    font-size: 3vmax;
    transition: padding-top 0.2s, height 0.2s, box-shadow 0.2s;
    padding-bottom: 1vmax;
    cursor: pointer;
}

.pause-button-contain .pause-button:hover {
    padding-top: 2vw;
    height: 12vw;
    box-shadow: 0 0 10px #000;
}

.pause-button-contain .pause-button svg {
    width: 80%;
    height: 80%;
    filter: invert();
}

.h {
    display: none;
}
.page {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

#menu {
    background: linear-gradient(to right, #008800, #226600);
    display: grid;
    grid-template-rows: repeat(5, calc(1em + 20px));
    gap: 10px;
    justify-items: center;
    justify-content: center;
}

#menu * {
    padding: 10px;
    background-color: #fff;
}